// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Form*/
.form-radio{
  height: 100px;
}

.form-radio label{
  font-size: 1.4rem;
  color: #515151;
}
.f-dropdown.content{
  background-color: #E6E6E6;
}

.reveal-modal h2{
  color: #515151;
}