// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Simplifica';
    src: url("SIMPLIFICA_Typeface.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
*{
  font-family: 'Simplifica', serif;
  font-size: 1.2em;
}

.search-wrapper{
  width: 200px;
  }

.tag-form{
  border: solid 1px black;
}

//navigation-styles

.nav-css{
  margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h4{
  color: rgb(216,216,216);
}

body{
  font-family: 'Simplifica', serif;
  color: rgb(216,216,216);
  background-image: url("http://i1372.photobucket.com/albums/ag340/anthonyedwardsjr/A-Time-To-Dance-Floor-large-shade_zpsywoy42jz.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: 50%, 70%;
  background-attachment: fixed;
  width: 100% !important;
}

.transparent-box{
  background-color:  rgba(0, 0, 0, 0.6);
}

ul li{
  list-style-type: none;
  padding-bottom: 3px;
}