.large-6.columns
  .row.collapse.prefix-round
    =form_tag  welcome_search_path, method: :post, remote: true  do
      .small-9.columns
        =text_field_tag :search, nil , placeholder: "Search"
      .small-3.columns
        =submit_tag  "Search",  class: 'button postfix'

:javascript
  $(document).ready(function() {
    $('#search').select2({
          minimumInputLength: 1,
          placeholder: "Seach twitter  users",
          allowClear: true,
          ajax: {
            url: "#{welcome_search_path}",
            dataType: 'json',
            quietMillis: 700,
            data: function(term) { return {q: term}; },
            results: function(data, page, qry) {
              return data;
            }
          }
      });
    });

