.row
  =render partial: "shared/new_video_form"
.row
  %p something that says tag dancers and follow there videos
.row
  %h3 Featured Videos

.row
  %h3 Newest Videos

.row
  - @videos.each do |vid|
    .columns.small-3.left
      .flex-video{id: "flex-video-#{vid.id}"}
        %iframe{ :width=>"196", :height=>"110", :src=>"http://www.youtube.com/embed/#{vid.url}", :frameborder=>"0"}
      Title---------
      = link_to 'View', video_path(vid)