.large-6.columns
  .row.collapse.prefix-round
    =simple_form_for video_index_path do |f|
      .small-9.columns
        =f.input :url, label: false, placeholder: "add video"
      .small-3.columns
        =f.submit  "Add Video",  class: 'button postfix'