.row
  %li.label
    =twitter_node.twitter_screen_name
    .th= image_tag twitter_node.twitter_img_url
  %a.twitter-follow-button{ href: "https://twitter.com/#{twitter_node.twitter_screen_name}", data: {"show-count" => "false", lang: "en"}}
    Follow @
    ="#{twitter_node.twitter_screen_name}"
  =link_to "Show",  artist_path(twitter_node.id), id: "show-artist-#{twitter_node.id}"

