%ul
  %h4 Choreographer
  - if choreographer
    =render partial: "shared/twitter_node", locals: {twitter_node: choreographer}

  %li.divider
  %h4 Asst Choreographers
  - if assist_choreographers
    - assist_choreographers.each do | twitter_node |
      =render partial: "shared/twitter_node", locals: {twitter_node: twitter_node.artist}

  %li.divider
  %h4 Dancers
  - if twitter_list
    - twitter_list.each do | twitter_node |
      =render partial: "shared/twitter_node", locals: {twitter_node: twitter_node}