%ul
  - if choreographer
    %h4 Choreographer
    =render partial: "shared/twitter_node", locals: {twitter_node: choreographer}
  %li.divider
  - if twitter_list
    %h4 Dancers
    - twitter_list.each do | twitter_node |
      =render partial: "shared/twitter_node", locals: {twitter_node: twitter_node}