---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=AnthonyEdwardsj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PymZCK32d96FwUtuKBIf7KN7j", oauth_nonce="d4be65f582e419aebb9e14565669fb6c",
        oauth_signature="X9pXegm0VKbrg2gEbvlaJMry%2BGw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1456798173", oauth_token="30777203-isVDTbo5o7Du5HwCFLIzsVx1zMIZFcKm3ZNu3JKhW",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 01 Mar 2016 02:09:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 99a8416bec00db1d8bb171fce9523243
      X-Rate-Limit-Limit:
      - '181'
      X-Rate-Limit-Remaining:
      - '180'
      X-Rate-Limit-Reset:
      - '1456799072'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 250000473bca56c4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":30777203,"id_str":"30777203","name":"Anthony Edwards Jr","screen_name":"AnthonyEdwardsj","location":"NYC","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":102,"friends_count":165,"listed_count":3,"created_at":"Mon
        Apr 13 01:50:56 +0000 2009","favourites_count":184,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":true,"verified":false,"statuses_count":199,"lang":"en","status":{"created_at":"Wed
        Feb 17 02:39:08 +0000 2016","id":699785119331196928,"id_str":"699785119331196928","text":"RT
        @SuperBasedNique: @AnthonyEdwardsj  https:\/\/t.co\/vryyGqPCE1","truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Feb 17 01:46:42 +0000 2016","id":699771922259800066,"id_str":"699771922259800066","text":"@AnthonyEdwardsj  https:\/\/t.co\/vryyGqPCE1","truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":30777203,"in_reply_to_user_id_str":"30777203","in_reply_to_screen_name":"AnthonyEdwardsj","geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":699624313154973696,"quoted_status_id_str":"699624313154973696","is_quote_status":true,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"AnthonyEdwardsj","name":"Anthony
        Edwards Jr","id":30777203,"id_str":"30777203","indices":[0,16]}],"urls":[{"url":"https:\/\/t.co\/vryyGqPCE1","expanded_url":"https:\/\/twitter.com\/independentlens\/status\/699624313154973696","display_url":"twitter.com\/independentlen\u2026","indices":[18,41]}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"und"},"is_quote_status":true,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"SuperBasedNique","name":"God
        Made Dirt...","id":372803681,"id_str":"372803681","indices":[3,19]},{"screen_name":"AnthonyEdwardsj","name":"Anthony
        Edwards Jr","id":30777203,"id_str":"30777203","indices":[21,37]}],"urls":[{"url":"https:\/\/t.co\/vryyGqPCE1","expanded_url":"https:\/\/twitter.com\/independentlens\/status\/699624313154973696","display_url":"twitter.com\/independentlen\u2026","indices":[39,62]}]},"favorited":false,"retweeted":true,"possibly_sensitive":false,"lang":"und"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"709397","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/285769013\/edwards_anthony3118RTsmall.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/285769013\/edwards_anthony3118RTsmall.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/636694223107031040\/OF7_RwIT_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/636694223107031040\/OF7_RwIT_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/30777203\/1440634600","profile_link_color":"FF3300","profile_sidebar_border_color":"86A4A6","profile_sidebar_fill_color":"A0C5C7","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 01 Mar 2016 02:09:34 GMT
recorded_with: VCR 2.9.3
