---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ZYkmsFBcHxk&key=AIzaSyBQ2YBoYV2X320bRrGpBZAGXEV0-j6r6wc&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XI7nbFXulYBIpL0ayR_gDh3eu1k/wkw4gZwHynsoA31ovkxmTZW2O4w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/wkw4gZwHynsoA31ovkxmTZW2O4w\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/L07z8sJKBhikb7uKTbdp4lkucoY\"",
           "id": "ZYkmsFBcHxk",
           "statistics": {
            "viewCount": "161788",
            "likeCount": "3197",
            "dislikeCount": "38",
            "favoriteCount": "0",
            "commentCount": "71"
           }
          }
         ]
        }
  recorded_at: Sat, 15 Sep 2018 19:07:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ZYkmsFBcHxk&key=AIzaSyBQ2YBoYV2X320bRrGpBZAGXEV0-j6r6wc&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"XI7nbFXulYBIpL0ayR_gDh3eu1k/g6QlnodITR8RdhAKhSx5X7EAAQo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/g6QlnodITR8RdhAKhSx5X7EAAQo\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/hihKhCvCoAFlRMuWM2fTpeXuVLA\"",
           "id": "ZYkmsFBcHxk",
           "snippet": {
            "publishedAt": "2016-02-27T02:58:38.000Z",
            "channelId": "UCRsQ9ZNRyusM2vAI0Xwc5Ow",
            "title": "Tory Lanez - N.A.M.E. | @AntoineTroupe Choreography",
            "description": "Hope you enjoy. Learn this routine on my site and send me a video of you doing it!! Find the tutorial at antoinetroupe.me",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/ZYkmsFBcHxk/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/ZYkmsFBcHxk/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/ZYkmsFBcHxk/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/ZYkmsFBcHxk/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/ZYkmsFBcHxk/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "Antoine Troupe",
            "tags": [
             "dance",
             "choreography",
             "tutorial",
             "antoine troupe",
             "millenium",
             "dance complex",
             "dance studio",
             "danse",
             "howto",
             "tory lanez",
             "n.a.me.",
             "name",
             "dominique battiste",
             "devin solomon",
             "kachi",
             "troupe",
             "hip hop"
            ],
            "categoryId": "24",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Tory Lanez - N.A.M.E. | @AntoineTroupe Choreography",
             "description": "Hope you enjoy. Learn this routine on my site and send me a video of you doing it!! Find the tutorial at antoinetroupe.me"
            }
           }
          }
         ]
        }
  recorded_at: Sat, 15 Sep 2018 19:07:11 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=anthonyedwardsj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="PymZCK32d96FwUtuKBIf7KN7j", oauth_nonce="0c96a3a67f9e7cd3c7b94aa008c4e143",
        oauth_signature="J7dcDK3%2FWLHrLO6FWbf6RIqIlQQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1537038431", oauth_token="30777203-isVDTbo5o7Du5HwCFLIzsVx1zMIZFcKm3ZNu3JKhW",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 15 Sep 2018 19:07:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - '08ea7f73c2f6b919f2f7d0a997da24e2'
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1537039333'
      X-Response-Time:
      - '57'
      X-Transaction:
      - 0070b31b0021104d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":30777203,"id_str":"30777203","name":"Anthony Edwards Jr","screen_name":"AnthonyEdwardsj","location":"NYC","profile_location":null,"description":"Founder
        of eatOkra | Find Black-Owned Restaurants \ud83c\uddfa\ud83c\uddf8 Military
        Veteran \ud83d\udcf7Photographer(IG aevisionz) \ud83d\udcbbSoftware Developer
        \ud83d\udcf1","url":"https:\/\/t.co\/nMRWh9zUTG","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/nMRWh9zUTG","expanded_url":"http:\/\/www.eatokra.com","display_url":"eatokra.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":192,"friends_count":527,"listed_count":5,"created_at":"Mon
        Apr 13 01:50:56 +0000 2009","favourites_count":2786,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":2066,"lang":"en","status":{"created_at":"Fri
        Sep 14 23:28:19 +0000 2018","id":1040744081872310273,"id_str":"1040744081872310273","text":"*rub
        it in","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":1040743932274065409,"in_reply_to_status_id_str":"1040743932274065409","in_reply_to_user_id":30777203,"in_reply_to_user_id_str":"30777203","in_reply_to_screen_name":"AnthonyEdwardsj","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"709397","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme6\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme6\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1022599909944508416\/8rNITS1Y_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1022599909944508416\/8rNITS1Y_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/30777203\/1532641846","profile_link_color":"FF3300","profile_sidebar_border_color":"86A4A6","profile_sidebar_fill_color":"A0C5C7","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Sat, 15 Sep 2018 19:07:12 GMT
recorded_with: VCR 4.0.0
