.small-12.columns
  .row.collapse.prefix-round
    =form_tag  video_index_path, remote: true, method: :get do
      .small-9.columns
        =text_field_tag :q, nil

/ do a get request with params q, in controller check for params then return results

:javascript
  $(document).ready(function() {
    $('#video_searh').on('click', function(e){
      var q = $(this).val()
      $.ajax({
        url: "#{video_index_path}?q=" + q
      })
    })
  });

