.row
  %h1 All Videos
  %ul
    %li.has-form
      .row.search
        =render partial: "video/search_form"
  .row#video_container
    - @videos.each do |vid|
      =render "video/video", vid: vid
/  =paginate @videos