.row
  %h1 All Videos
  %ul
    %li.has-form
      .row.search
        =render partial: "video/search_form"
  - @videos.each do |vid|
    .columns.small-3.left.transparent-box.spacing
      .flex-video{id: "flex-video-#{vid.id}"}
        %iframe{ :width=>"196", :height=>"110", :src=>"http://www.youtube.com/embed/#{vid.url}", :frameborder=>"0"}
      = vid.yt_author
      = link_to 'View', video_path(vid)