%ul
  = link_to 'View All Artists', artists_video_path(@video.id)
  - @artist_videos.each do |role, arts_vids|
    %li
    %h4
      = role.capitalize
      - arts_vids.each do | a_v |
        =render partial: "shared/twitter_node", locals: {twitter_node: a_v.artist}
